<div class="uk-container-expand uk-height-viewport uk-flex uk-flex-middle uk-flex-center uk-background-muted">
  <div>
    <h3 class="uk-heading-large">Choose the category</h3>
    <div class="uk-flex uk-flex-center uk-margin-large-top">
      <button class="uk-button uk-button-primary uk-border-rounded uk-align-right uk-margin-remove-bottom"
        [routerLink]="['/search-by-name']">Search by name</button>
      <button class="uk-button uk-button-primary uk-border-rounded uk-align-right uk-margin-remove-bottom"
        [routerLink]="['/search-by-capital']">Search by capital</button>
      <button class="uk-button uk-button-primary uk-border-rounded uk-align-right uk-margin-remove-bottom"
        [routerLink]="['/search-by-currency']">Search by currency</button>
    </div>
  </div>
</div>

